
  <header>
  <ul>
    <li><a class="title">FRY UP GENERATOR</a></li>
    <li><a class="calories">CALORIES</a></li>
    <li><a class="total-calories">0</a></li>
  </ul>
  </header>

  <body>

  <div class="food-items">
    <% @foods.each do |food| %> 
    <div class="idv-item" data-calories="<%= food.calories %>"> 
    <%= image_tag food.image %>
  </div>

  <% end %> 
    </div>


    
        <div class="plate">
            <div class="plate-items" id="one"></div>
          <!--   <div class="plate-items" id="two"></div>
            <div class="plate-items" id="three"></div>
            <div class="plate-items" id="four"></div>
            <div class="plate-items" id="five"></div>
            <div class="plate-items" id="six"></div>
            <div class="plate-items" id="seven"></div>
            <div class="plate-items" id="eight"></div>
            <div class="plate-items" id="nine"></div> -->
        </div> 

        <button class="reset-button" id="PageRefresh">Reset</button>

</body>

